<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gfPortfolio</title>
    
    <enlace rel="preconectar" href="https://fonts.googleapis.com">
      <enlace rel="preconectar" href="https://fonts.gstatic.com" crossorigin>
      <enlace href="https: //fonts.googleapis.com/css2? familia= Roboto:peso@100;400 & display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/fd025b519f.js" crossorigin="anonymous"></script>
        <script src="https://cdns.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/aboutMe.css'/>
    <link rel='stylesheet' href='/stylesheets/projects.css'/>
    <link rel='stylesheet' href='/stylesheets/knowledge.css'/>
    <link rel='stylesheet' href='/stylesheets/user.css'/>
   
  </head>