<header>
    <nav class="contenedorNav">
    <a href="/">Principal</a>    
    <a href="/aboutMe">Sobre mí</a>
    <a href="/projects">Proyectos</a>
    <a href="/knowledge">Conocimientos</a>
    <a href="/user">Contacto</a> 
</nav>
    </header>