<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <div class="contenedorAboutMe">
    
        <div class="contImgAboutMe">
        <img src="/images/th.jpg" class="imagenAbout" alt="fotoPersonal">
        </div>
  
        <div class="textoAboutMe">
            <h3>SOBRE MI</h3>
<p><span class="typedAboutMe"></span>
</p>
        </div>
        
      </div>
      <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
      <script src="typed.js"></script>
      <script src="javascripts/aboutMe.js"></script>
</body>
</html>