<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <div class="contenedorConocimiento">
        <div class="caja">
            <div class="cara cara1">
                 <img src="/images/logo-html.jpg" alt="imagen logo HTML">
            </div>
            <div class="cara cara2">
                 <img src="/images/logo-CSS.png" alt="imagen logo CSS">
            </div>
            <div class="cara cara3">
                <img src="/images/logo-js.jpg" alt="imagen logo JS">
            </div>
            <div class="cara cara4">
                <img src="/images/logoExpress.png" alt="imagen logo Express">
            </div>
            <div class="cara cara5">
                 <img src="/images/logoNode.webp" alt="imagen logo Node js">
            </div>
            <div class="cara cara6">
                 <img src="/images/logoReact.png" alt="imagen logo React">
            </div>
             
        </div>
        <div class="caja">
            <div class="cara cara1">
                 <img src="/images/logo-vs-code.webp" alt="imagen logo vs-Code">
            </div>
            <div class="cara cara2">
                 <img src="/images/logoGitHub.png" alt="imagen logo GitHub">
            </div>
            <div class="cara cara3">
                <img src="/images/logoPostman.jpg" alt="imagen logo Postman">
            </div>
            <div class="cara cara4">
                <img src="/images/logoMySql.jpg" alt="imagen logo MySql">
            </div>
            <div class="cara cara5">
                 <img src="/images/logoScrum.jpg" alt="imagen logo Scrum">
            </div>
            <div class="cara cara6">
                 <img src="/images/logoSequelize.jpg" alt="imagen logo Sequelize">
            </div>
             
        </div>

        <div class="caja">
            <div class="cara cara1">
                 <img src="/images/logo-object-oriented-programming-oop.png" alt="imagen logo oop">
            </div>
            <div class="cara cara2">
                 <img src="/images/logo-lenguaIngles.jpg" alt="imagen logo ingles">
            </div>
            <div class="cara cara3">
                <img src="/images/logo-Api.jpg" alt="imagen logo api">
            </div>
            <div class="cara cara4">
                <img src="/images/logo-mvc-img.png" alt="imagen logo mvc">
            </div>
            <div class="cara cara5">
                 <img src="/images/logo-lenguArg.jpg" alt="imagen logo lengua Argentina">
            </div>
            <div class="cara cara6">
                 <img src="/images/logo-github2.gif" alt="imagen logo github">
            </div>
             
        </div>
    </div>
</body>
</html>