<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

     <body>
          <%- include('./partials/header') %>
               <div class="contenedorConocimiento">
                    <div class="caja">
                         <div class="cara cara1">
                              <img src="/images/logo-html.jpg" width="100px" height="100px" alt="imagen logo HTML">
                         </div>
                         <div class="cara cara2">
                              <img src="/images/logo-CSS.png" width="100px" height="100px" alt="imagen logo CSS">
                         </div>
                         <div class="cara cara3">
                              <img src="/images/logo-js.jpg" width="100px" height="100px" alt="imagen logo JS">
                         </div>
                         <div class="cara cara4">
                              <img src="/images/logoExpress.png" width="100px" height="100px" alt="imagen logo Express">
                         </div>
                         <div class="cara cara5">
                              <img src="/images/logoNode.webp" width="100px" height="100px" alt="imagen logo Node js">
                         </div>
                         <div class="cara cara6">
                              <img src="/images/logoReact.png" width="100px" height="100px" alt="imagen logo React">
                         </div>

                    </div>
                    <div class="caja">
                         <div class="cara cara1">
                              <img src="/images/logo-vs-code.webp" width="100px" height="100px"
                                   alt="imagen logo vs-Code">
                         </div>
                         <div class="cara cara2">
                              <img src="/images/logoGitHub.png" width="100px" height="100px" alt="imagen logo GitHub">
                         </div>
                         <div class="cara cara3">
                              <img src="/images/logoPostman.jpg" width="100px" height="100px" alt="imagen logo Postman">
                         </div>
                         <div class="cara cara4">
                              <img src="/images/logoMySql.jpg" width="100px" height="100px" alt="imagen logo MySql">
                         </div>
                         <div class="cara cara5">
                              <img src="/images/logoScrum.jpg" width="100px" height="100px" alt="imagen logo Scrum">
                         </div>
                         <div class="cara cara6">
                              <img src="/images/logoSequelize.jpg" width="100px" height="100px"
                                   alt="imagen logo Sequelize">
                         </div>

                    </div>

                    <div class="caja">
                         <div class="cara cara1">
                              <img src="/images/logo-object-oriented-programming-oop.png" width="100px" height="100px"
                                   alt="imagen logo oop">
                         </div>
                         <div class="cara cara2">
                              <img src="/images/logo-lenguaIngles.jpg" width="100px" height="100px"
                                   alt="imagen logo ingles">
                         </div>
                         <div class="cara cara3">
                              <img src="/images/logo-Api.jpg" width="100px" height="100px" alt="imagen logo api">
                         </div>
                         <div class="cara cara4">
                              <img src="/images/logo-mvc-img.png" width="100px" height="100px" alt="imagen logo mvc">
                         </div>
                         <div class="cara cara5">
                              <img src="/images/logo-lenguArg.jpg" width="100px" height="100px"
                                   alt="imagen logo lengua Argentina">
                         </div>
                         <div class="cara cara6">
                              <img src="/images/logo-github2.gif" width="100px" height="100px" alt="imagen logo github">
                         </div>

                    </div>
               </div>
     </body>

</html>