<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <h5>ALGUNOS DE MIS PROYECTOS...</h5>
    <div class="contenedorProyecto">
        

        <div class="card">
            <div class="face face-front">
             <img src="/images/runner.jpg" width="300px"  height="350px" alt="2">
            </div>
            <div class="face face-back">
             <p class="tarjeta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, voluptates harum? Est obcaecati impedit quia, odio deleniti omnis sed, maxime recusandae quisquam iste sint molestiae! Exercitationem iste quod harum ut.
             </p>
             <div class="link"><a href="https://github.com/GiselaFux">github</a></div>
            </div>
            
        </div>
        <div class="card">
            <div class="face face-front">
             <img src="/images/document.png" width="300px"  height="350px" alt="2">
            </div>
            <div class="face face-back">
             <p class="tarjeta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, voluptates harum? Est obcaecati impedit quia, odio deleniti omnis sed, maxime recusandae quisquam iste sint molestiae! Exercitationem iste quod harum ut.
             </p>
             <div class="link"><a href="https://codepen.io/Gif1969">CodePen</a></div>
            </div>
            
        </div>
        <div class="card">
            <div class="face face-front">
             <img src="/images/criadero-landPage.png" width="300px" height="350px" alt="2">
            </div>
            <div class="face face-back">
             <p class="tarjeta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, voluptates harum? Est obcaecati impedit quia, odio deleniti omnis sed, maxime recusandae quisquam iste sint molestiae! Exercitationem iste quod harum ut.
             </p>
             <div class="link"><a href="https://codepen.io/Gif1969">CodePen</a></div>
            </div>
            
        </div>
        <div class="card">
            <div class="face face-front">
             <img src="/images/portfcodepen.png" width="300px" height="350px" alt="2">
            </div>
            <div class="face face-back">
             <p class="tarjeta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, voluptates harum? Est obcaecati impedit quia, odio deleniti omnis sed, maxime recusandae quisquam iste sint molestiae! Exercitationem iste quod harum ut.
             </p>
             <div class="link"><a href="https://codepen.io/Gif1969">CodePen</a></div>
            </div>
            
        </div>
        <div class="card">
            <div class="face face-front">
             <img src="/images/invest.png" width="300px" height="350px" alt="2">
            </div>
            <div class="face face-back">
             <p class="tarjeta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, voluptates harum? Est obcaecati impedit quia, odio deleniti omnis sed, maxime recusandae quisquam iste sint molestiae! Exercitationem iste quod harum ut.
             </p>
             <div class="link"><a href="https://codepen.io/Gif1969">CodePen</a></div>
            </div>
            
        </div>
        <div class="card">
            <div class="face face-front">
             <img src="/images/mercadoLiebre2.jpg" width="300px" height="350px" alt="2">
            </div>
            <div class="face face-back">
             <p class="tarjeta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, voluptates harum? Est obcaecati impedit quia, odio deleniti omnis sed, maxime recusandae quisquam iste sint molestiae! Exercitationem iste quod harum ut.
             </p>
             <div class="link"><a href="https://mercado-liebre-gisela-fux.herokuapp.com/">Heroku</a></div>
            </div>
            
        </div>
   </div>
    
</body>
</html>