<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <div class="thanksContent">
        
        <img src="/images/thanks1.png" class="gracias">
    </div>
</body>
</html>