* {
    margin:0;
   box-sizing: border-box;
  }
  body{
    
   background-color:black;
   display:flex;
   align-items: center;
  }

  .contenedorAboutMe{
    width:100%;
    height: 100vh;
  }
  .contImgAboutMe{
    width:100vw;
    padding-left: 30vw;  
  }
  .imagenAbout{
    margin-top: 12vh;
    width:33vw;
    height: auto;
  }
  .textoAboutMe{
    font-family: 'Roboto';
    color:#4fffd0;
    text-align: center;
    width:80%;
    height: 48vh;
    margin-left: 10vw;
    }

p{
 
  margin:3%;
  line-height: 1.6;
}