 /* * {
    padding:0;
      margin:0;
     box-sizing: border-box;
    }
body{
    width: 100%;
    height: 100%;
}

.contenedorConocimiento{
    width:90vw;
    height:90vh;
     border: 4px solid white;
     margin-top: 37%;
     padding-top: 5%;
     margin-left: 5%;
     display:flex;
    flex-direction: column;
    justify-content: space-around;
     align-items: center;
         }

    .caja{
        position:relative;
        width: 100px;
        height: 100px;
        transform-style: preserve-3d;
        transform-origin: 50px 50px 0;
        animation: girar 20s ease-in-out alternate infinite;
    }

    .cara{
        position:absolute;
        width: 100px;
        height: 100px;
        backface-visibility: hidden;
    }
    .cara img{
        width:100%;
        height: 100%;
        object-fit: cover;
    }
    .cara1{
        transform: translateZ(100px);
    }
    .cara2{
        transform: rotateY(90deg) translateZ(100px);
    }
    .cara3{
        transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
    }
    .cara4{
        transform: rotateX(180deg) rotateZ(90deg) translateZ(100px);
    }
    .cara5{
        transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
    }
    .cara6{
        transform:rotateX(-90deg) translateZ(100px);
    }

    @keyframes girar {
        0%{
            transform:none;
        }
        13%,16.6% {
            transform: rotateY(-90deg);
        }
        30%,33.333%{
            transform: rotateY(-90) rotateZ(90deg);
        }
        46%,49.999%{
            transform: rotateY(-180deg) rotateZ(90deg);
        }
        63%,66%{
            transform: rotateY(-270deg) rotateZ(90deg);
        }
        80%,83%{
            transform: rotateY(270deg) rotateX(90deg);
        }
        97%,100%{
            transform: none;
        }
    }
    
    
    @media(min-width:760px){
        .contenedorConocimiento{
            width:90vw;
            height:90vh;
             border: 4px solid white;
             margin-top: 20%;
             margin-left: 5vw;
             display:flex;
            flex-direction: row;
            justify-content: space-around;
             align-items: center;
                 }
    }
 
  */
 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 body {
     width: 100%;
     height: 100%;

 }

 .contenedor{
     width: 90vw;
     height: auto;
    /*  border: 4px solid white; */
     margin-top: 20vh;
     margin-left: 5vw;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
 }

 .cubo {
    width: 100px;
    height: 100px;
    position:relative;
    transform-style: preserve-3d;
    animation:girar 5s infinite linear;
}

@keyframes girar{
    from{
        transform:rotateY(0deg);
    }
    to{
        transform:rotateY(360deg);
    }
}

 
 .cara{
    position:absolute;
    
    width:100%;
    height: 100%;
 }
.cara img{
    width:100px;
    height: 100px; 
    object-fit: cover;
}
#uno{
    transform:translateZ(50px)
}
#dos{
 transform: translateX(50px) rotateY(90deg)
}
#tres{
    transform:translateZ(-50px) rotateY(180deg)
}
#cuatro{
    transform:translateX(-50px) rotateY(270deg)
}
#cinco{
    transform:translateY(-50px) rotateX(90deg)
}
#seis{
    transform:translateY(50px) rotate(90deg)
}
#siete{
    transform:rotateX(180deg)
}
@media(min-width:760px){
    .contenedor{
        width:90vw;
        height:90vh;
         border: 4px solid white;
         margin-top: 20%;
         padding-top: 5vh;
         margin-left: 5vw;
         display:flex;
        flex-direction: row;
        justify-content: space-around;
         align-items: center;
             }
}