
* {
  padding:0;
    margin:0;
   box-sizing: border-box;
  }
 body{
  display:block;
  justify-content: center;
 }
 .fotoPresentacion{
  margin-top: 20vh;
  width:100vw;
}
.fotoPresentacion img{
  width: 100%;
}
